/* Tombol login fixed di kanan atas */
.login-button {
    position: fixed;
    top: 20px; /* Jarak dari atas */
    right: 20px; /* Jarak dari kanan */
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Pastikan berada di depan konten lainnya */
}

.login-button:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
}